<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SearchRequestServlet</display-name>
    <servlet-name>SearchRequestServlet</servlet-name>
    <servlet-class>com.eshiam.servlet.SearchRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRequestServlet</servlet-name>
    <url-pattern>/SearchRequestServlet</url-pattern>
  </servlet-mapping>
  <display-name>exercise</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchReqSevlet</display-name>
    <servlet-name>SearchReqSevlet</servlet-name>
    <servlet-class>com.eshiam.servlet.SearchReqSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReqSevlet</servlet-name>
    <url-pattern>/SearchReqSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadRoleServlet</display-name>
    <servlet-name>LoadRoleServlet</servlet-name>
    <servlet-class>com.eshiam.servlet.LoadRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadRoleServlet</servlet-name>
    <url-pattern>/LoadRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessServlet</display-name>
    <servlet-name>AccessServlet</servlet-name>
    <servlet-class>com.eshiam.servlet.AccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessServlet</servlet-name>
    <url-pattern>/AccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.eshiam.servlet.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkQueueServlet</display-name>
    <servlet-name>WorkQueueServlet</servlet-name>
    <servlet-class>com.eshiam.servlet.WorkQueueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkQueueServlet</servlet-name>
    <url-pattern>/WorkQueueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DummyServlet</display-name>
    <servlet-name>DummyServlet</servlet-name>
    <servlet-class>com.eshiam.servlet.DummyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyServlet</servlet-name>
    <url-pattern>/DummyServlet</url-pattern>
  </servlet-mapping>
</web-app>